.login-container {
  display: flex;
  margin-top: 100px;
  justify-content: center; /* Horizontal centering */
  align-items: flex-start; /* Slightly above the vertical center */
  height: 100vh; /* Full viewport height */
}

.login-form {
  width: 300px; /* Adjust the width as needed */
}
